@font-face {
    font-family: "Cinzel";
    src: url("Fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
}

.board{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;

}

.home {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    height:100vh;
    
}

.title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    text-decoration: underline;
    
}

.title a {
    display: inline-block;
    padding: 10px 20px;
    background-color: plum;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

.restart-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.restart-btn button {
    padding: 10px 30px;
    border-radius: 12px;
    background-color: plum;
    color: black;

}

.title a:hover {
    background-color: lime;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.chess-types {
    margin-top: 15px;
}

.chess-types a {
    display: inline-block;
    padding: 10px 20px;
    background-color: plum;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

.chess-types a:hover {
    background-color:  lime;
}

.light {
    background-color: white;
}

.dark {
    background-color: plum;
}

#chessTable2 {
    border-collapse: collapse;
    border: 6px solid lime;  
}

#chessTable2 th {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.border {
    background-color: lime;
}

.legend { 
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    line-height: 1;
}

.legend-side {
    font-size: 20px;
    width: 40px;
}

#chessTable2 {
    font-size: 4em;
    border-collapse: collapse;
}

#chessTable2 td{
    border: 2px solid black;
}

.chess-square {
    text-align: center;
    height: 100px;
    max-height: 100px;
    min-width: 100px;
    width: 100px;
}